<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net461" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net461" />
  <package id="WpfAnimatedGif" version="1.4.16" targetFramework="net461" />
</packages>